/* styles.css */

body {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px; /* Adjust this value based on the navbar's height */
}

img {
  border-radius: 50%; /* Adjust the value as needed */
  margin-top: 10%;
}

/* Navbar container for alignment */
.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 80px; /* Same padding as body */
}

/* Make the navbar fixed at the top */
.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar stays on top */
  padding: 10px 0;
  text-align: right;
}

/* Style for navbar list items */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

/* Style for navbar links */
.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

.main-content {
  display: flex;
  background-color: #f9f9f9;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  margin-left: 20%;
  margin-top: 5%;
}

.intro {
  text-align: center;
  margin-left: 0%;
}

.intro h1 {
  margin: 0;
}

.intro p {
  margin: 0;
}

.cta {
  margin-top: 7%;
  text-align: center;
}

.download-link {
  text-decoration: none;
}

.download-button {
  padding: 10px 20px;
  background-color: #ce8f1c; /* Orange color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.download-button:hover {
  background-color: #7c5c34; /* Darker shade of orange on hover */
}

.right-side img {
  max-width: 100%;
  height: auto;
  margin-right: 100px;
  border-radius: 50%; /* Adjust the value as needed */
}

/* Generic section styling */
.section {
  padding: 50px 0;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  margin-top: 10px; /* Add space above the icons */
}

.social-icons a {
  color: #000; /* Icon color */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.social-icons a:hover {
  color: #0077b5; /* Change color on hover (LinkedIn color) */
}
